* {
    box-sizing: border-box;
}

/* Common CSS Style */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #989898;
}

h1 {font-size: 30px}
h2 {font-size: 24px}
h3 {font-size: 22px}
h4 {font-size: 20px}
h5 {font-size: 18px}

h1, h2, h3, h4, h5 {
    color: #4f4f4f;
}

h1 {
    font-weight: bold;
}

/* Header Specs */
header {
    display: flex;
    height: 64px;
}

/* ColmarAcademy Logo & Text (Top Left) */
.campuslogo-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
}

/* ColmarAcademy Text Font */
.colmarAcademy {
    color: #9f9b9b;
}

.colmarAcademy span {
    color: #01161E;
    font-weight: bold;
}

/* Desktop Navigation Panel - top right */
nav {
    display: flex;
    width: 100%;
    align-items: center;
    margin-right: 24px;
}

.desktop ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.desktop a {
    color: #4f4f4f;
    text-decoration: none;
    padding: 0px 8px;
}

/* Main Section Specs */
.main-section {
    display: flex;
    background-color: rgb(201, 201, 201);
    padding: 32px 24px;
}

.main-section img {
    display: flex;
    width: 60%;
}

.mainsection-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 24px;
}

.mainsection-content h4 {
    padding-top: 16px;
}

.courseButton {
    display: flex;
    text-decoration: none;
    color: #ffffff;
    background-color: #4f4f4f;
    width: 60%;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    height: 30px;
}

/* Section 2: Campus Information -Left Section */
.info-section {
    display: flex;
    margin: 32px 24px;
    scroll-margin-top: 30px;
}

.info-left {
    display: flex;
    flex-direction: column;
    width: 60%;
    border-right: 1px solid #cfcfcf;
    padding-right: 28px;
}

.info-left img {
    display: flex;
}

.info-left h2 {
    font-weight: bold;
    margin-top: 32px;
}

.info-left p {
    margin-top: 24px;
    padding-right: 10px;
}

#speaker {
    margin-top: 24px;
}

/* Campus Information - Right Section */
.info-right {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
    margin-left: 16px;
}

.infoImg-desk {
    display: flex;
    width: 35%;
    height: auto;
}

#orientation, #campus-locations, #guest-lectures {
    display: flex;
    margin-left: 16px;
    margin-bottom: 16px;
}

#guest-lectures {
    background-color: rgb(201, 201, 201);
}

.info-text {
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: center;
    margin-left: 16px;
}

.info-right h3 {
    font-weight: bold;
}

.info-right p {
    margin-top: 10px;
    font-size: 15px;
    margin-top: 16px;
}

.info-right a{
    color: blue;
    margin-top: 10px;
    text-decoration: none;
}

.info-right a:hover {
    color: gray;
}

/* Section 3: Courses Section */
.courses-section {
    background-color:rgb(201, 201, 201);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-position: center;
}

#courseHeader {
    font-weight: bold;
    text-align: center;
    margin: 32px 0px;
}

.container-top {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 72px;
    margin-bottom: 32px;
}

.container-bottom {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 72px;
    margin-bottom: 32px;
}

.course-box {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0px 16px;
}

.course-box img {
    height: auto;
}

#title {
    font-weight: bold;
    margin-top: 16px;
    margin-left: 16px;
}

.course-box p {
    margin: 16px 16px 24px;
}

/* Section 4: Exhibits Section - left side */

.exhibit-section {
    margin-top: 32px;
    scroll-margin-top: 10px;
}

#exhibitHeader {
    text-align: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    margin-bottom: 32px;
}

.exhibit-content {
    display: flex;
}

.exhibit-left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 24px;
    width: 60%;
}

.video-player video {
    display: flex;
    width: 100%;
}

.video-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-top: 24px;
}

.video-text h3 {
    font-weight: bold;
}

.video-text p {
    margin-top: 15px;
}

/* Section 4: Exhibits Section - right side */

.exhibit-right {
    display: flex;
    flex-direction: column;
    margin: 0px 24px;
}

.fisma-box, .research-box {
    display: flex;
    align-items: center;
}

.fisma-box {
    background-color: rgb(201, 201, 201);
}

.exhibit-right img {
    display: flex;
    width: 35%;
    height: auto;
    padding: 16px;
}

.exhibit-text {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding-bottom: 10px;
}

.exhibit-right h3 {
    font-weight: bold;
}

.exhibit-right p {
    margin-top: 10px;
    font-size: 15px;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    margin: 32px 24px;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    padding: 16px 0px;
}

.footerleft {
    display: flex;
}

.footerNav {
    display: flex;

}

.footerNav ul {
    display: flex;
}

.footerNav a {
    text-decoration: none;
    padding: 5px;
}

/* Removing mobile icons - applicable during desktop mode */
.mobile {
    display: none;
}

.infoImg-mobile {
    display: none;
}

.courses-mobile {
    display: none;
}

/* Mobile Resolution Display (<720px) */

@media only screen and (max-width:720px) {

    /* Do Not Display */
    .desktop, .campuslogo-text {
      display: none;
    }

    /* Navigation */
    .mobile {
        display: flex;
        height: 64px;
    }

    .mobile ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
      }
    
    /* Main Section - mobile */
    .main-section img{
        width: 100%;
    }
      
    .main-section {
        display: block;
    }

    .mainsection-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding: 16px;
    }

    .courseButton {
        margin-top: 16px;
        margin-bottom: 32px;
    }

    /* Section 2: Campus Info - mobile */
    .info-left, .infoImg-desk {
        display: none;
    }

    .info-right {
        display: flex;
        width: 100%;
    }

    #orientation, #campus-locations, #guest-lectures {
        display: flex;
        flex-direction: column;
    }

    .infoImg-mobile {
        display: flex; 
    }

    .info-text {
        display: flex;
        flex-direction: column;
        margin: 16px 16px 32px;
    }

    .info-text h5{
        margin-top: 16px;
    }

    .info-text a {
        margin-top: 8px;
    }

    /* Section 3: Courses - mobile */
    .courses-desktop {
        display: none;
    }

    .courses-section {
        background-color: #ffffff;
        margin: 16px 72px;
    }

    .courses-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .courses-mobile h4 {
        background-color:rgb(201, 201, 201);
        padding: 16px 0px;
    }

    /* Section 4: Thesis Exhibits */
    .exhibit-right, .video-text {
        display: none;
    }

    .exhibit-section {
        display: flex;
        flex-direction: column;
        margin: 32px 0px;
    }

    #exhibitHeader {
        padding-top: 32px;
    }

    .video-player {
        width: 720px;
    }

    /* Footer */
    .footer {
        width: 100%;
        margin: 0px 16px;
        border: 1px solid #cfcfcf;
    }
}   
